@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src: url('../fonts/codropsicons/codropsicons.eot');
	src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}
document.getElemenByld('vid').play();
@font-face {
	font-family: 'BMJUA_ttf''BMJUA_otf';
	src: url(../fonts/BMJUA_ttf.ttf);
	src: url(../fonts/BMJUA_otf.otf)
}

p {
	color: #fff;
}


/*선이요*/


.credits--fixed::before {
	content: '';
	background: #fff;
	position: fixed;
	left: 9%;
	top: 0%;
	height: 80rem;
	width: 1.2px;
}


.credits--fixed2 {
	position: fixed;
	bottom: 2vw;
	margin: 0;
	right: 5vw;
	width: 90vw;
	text-align: right;
}



/*왼쪽 아래 텍스트*/
.credits--fixed3 {
	position: fixed;
	bottom: 17%;
	margin: 0;
	left : 1.8%;
	width: 90vw;
	text-align: left;
	font-size: 13px;
	font-family: 'bmjua';
}


.logo a img{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}

 

.logo a:hover img{
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);   
    -o-transform:scale(1.2);
    transform:scale(1.2);
}






/*볼일 로고*/
.credits--fixed4 {
	position: fixed;
	top: 7%;
	margin: 0;
	left : 1.8%;
	width: 90vw;
	text-align: left;
	font-size: 14px;
	font-family: 'bmjua';
	color : #fff;
}



/*2019*/
/*왼쪽 아래 텍스트*/
.credits--fixed5 {
	position: fixed;
	bottom: 10%;
	margin: 0;
	left : 1.8%;
	width: 90vw;
	text-align: left;
	font-size: 16px;
	font-family: 'bmjua';
}







*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

html,
body,
.pagewrap {
	height: 100%;
}

.page {
	padding-top: 2vw;
	padding-left: 0vw;
	max-width: 1400px;
	margin: 0 auto;
	grid-template-columns: 100%;
	grid-template-areas: 'header''meta''grid';
	will-change: transform;
}





body {
	background: #fff;
	color: #000;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
	font-family: 'Lato', Arial, sans-serif;
}



a {
	color: #fff;
	font-weight: bold;
	text-shadow: 0 0 rgba(0, 0, 0, 0);
	text-decoration: none;
	outline: none;
}

a:hover,
a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.codrops-header {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}

.codrops-header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.5em;
}

.codrops-header h1 span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 0.6em;
	opacity: 0.7;
}


section {
	padding: 3em 1em 10em;
	text-align: right;
	clear: both;
}


section p {
	font-size: 3em;
	line-height: 1.5;
	margin-top: 0;

}



.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: right;
}

.columns {

	max-width: 1200px;
	margin: auto;
	text-align: right;

}

.column {
	margin-top: 10px;
	margin-right: 40px;
	width: 80%;
	padding: 0em;
	float: right;

}

/* Demo links */
.codrops-demos {
	text-align: right;
}

.codrops-demos a {
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 15px;
	padding: 0 0 5px;
	display: inline-block;
	border-bottom: 3px solid rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 40em) {

	.column {
		width: 100%;
		float: none;
		padding: 2em;
		text-align: right;
	}

	.codrops-demos {
		text-align: right;
	}

}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}
