/*
Plugin: jQuery Parallax
Version 1.1.3
Author: Ian Lunn
Twitter: @IanLunn
Author URL: https://www.ianlunn.co.uk/
Plugin URL: https://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to https://www.ianlunn.co.uk/.
*/

@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	min-width: 980px;
	padding: 0;
}

p{
	margin: 0 0 20px 0;	
}

p, ul{
	font-family:'bmjua';
	font-size-adjust:0.488;
	font-weight:200;
	font-style:normal;
}

img{
	border: 0;
}

h1, #pixels{
	font-family:'bmjua';
	font-size-adjust:0.40;
	font-weight:700;
	font-style:normal;
}

h2{
	font-family:'bmjua';
	font-size-adjust:0.531;
	font-weight:500;
	font-style:normal;
}

#header h1, #pixels{
	color: #48941A;
	
}

.float-left{
	float: left;	
	margin: 0 0 0 20px;

}

.float-right{
	float: right;
	margin: 0 20px 0 0;

}

.float-center{
	text-align: center;

}



.center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;

}

#nav{
	list-style: none;
	position: fixed;
	right: 20px;
}

#nav li{
	margin: 0 0 15px 0;	
}

#header, #intro, #second{
	width: 100%;

}

#intro{
	background:url(./img/2.png) 50% 0 no-repeat;
	background-size: 100%;
	color: white;
	height: 2500px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

#second{
	background: url(./img/color.png) 50% 0 no-repeat fixed;
	color: black;
	background-color: #fff;
	height: 1200px;
	margin: 0 auto;
	overflow: hidden;
	background-size: 100%;
	padding: 0;
}



#gimothi{
	background: whith 50% 0 no-repeat fixed;
	background-size: 100%;
	color: white;
	height: 700px;
	padding: 0 0 0 0;
	text-align: center;

}



#third{
	background: url(./img/logo.png) 50% 0 no-repeat fixed;
	color: black;
	background-color: #fff;
	height: 1200px;
	margin: 0 auto;
	overflow: hidden;
	background-size: 100%;
	padding: 0;
}

#fifth{
	background: #fff;
	height: 2500px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}


#yaho{
	background:  50% 0 no-repeat fixed;
	color: black;
	background-color: #fff;
	height: 2900px;
	margin: 0 auto;
	overflow: hidden;
	background-size: 100%;
	padding: 0;
}

#backback{
	background: url(./img/backback.png) 50% 0 no-repeat fixed;
	color: black;
	background-color: #fff;
	height: 1000px;
	margin: 0 auto;
	overflow: hidden;
	background-size: 100%;
	padding: 0;
}


#last{
	background:  50% 0 no-repeat fixed;

	color: black;
	background-color: #4bd7ec;
	height: 1050px;
	margin-top: -100px;

	overflow: hidden;
	background-size: 100%;
	padding: 0;
}


#gifshow{
	background: url(./img/last.png) 50% 0 no-repeat fixed;

	color: black;
	background-color: #fff;
	height: 1050px;
	margin-top: -100px;

	overflow: hidden;
	background-size: 100%;
	padding: 0;
}



#appp{
		background: url(./img/jojojo.png) 50% 0 no-repeat;
	color: black;
	background-color: #fff;
	height: 2000px;
	margin: 0 auto;
	overflow: hidden;
	background-size: 100%;
	padding: 0;


	
}

#gigigi{

	color: black;
	background-color: #fff;
	height: 2800px;
	margin: 0 auto;
	overflow: hidden;
	background-size: 100%;
	padding: 0;

	
}






ul li {list-style-type: none;}

li {
	float:left;
	
}
ul {
  display: table;
  margin-left: auto;
  margin-right: auto;
	
}

.story{
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}

.story .float-left, .story .float-right .float-center .center{
	padding: 100px 0 0 0;
	position: relative;
	width: 350px;	
}
/**/

